.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/*.map
**/*.ts
repro_bug.js
repro_logic.js
test-scoping.js
test.js
test-project/**
reference/**
scripts/**
tsconfig.json
package-lock.json
node_modules/**
!node_modules/
